.cart_art_img{
    height: 300px;
    width: 200px;
}
.cart_item{
    padding: 10px;
    /* border: solid 2px black; */
    display: flex;
    justify-content: start;
}
.details_div{
    margin-left: 20px;
}
.hr_tag{
    border: solid 1px black;
    width: 90%;
}